.name {
    margin-bottom: 10px;
    margin-left: 20px;
}

.input {
    width: 280px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input:focus {
    outline: none;
    border-color: #007bff;
}